* {
	margin: 0;
	padding: 0;
}

.button {
	display: inline-block;
	padding: 7px 25px 10px 25px;
	background-color: blue;
	border-radius: 8px;
	color: white;
}

.player {
	margin-top: 0px;
	margin-left: 0px;
	position: absolute;
	z-index: 1;
}

#saved {
	display: none;
}

#inventoryMenu {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #8BBCD5;
	position: relative;
    left: -131px;
    width: 130px;
    height: 300px;
    transition: 0.3s;
    z-index: 1000;
}

#menuButtons {
	text-align: center;
}

.menuButton { 
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 3px;
	width: 70px;
	margin-top: 10px;
}

#quitButton {
	position: absolute;
	bottom: 10px;
	left: 30px;
}

#gameBorder {
	border: 2px solid black;
	margin: 5% 0 0 25%;
	height: 502px;
	width: 756px;
	display: none;
	overflow: hidden;
}

/* -------- */
/* Hitboxes */
/* -------- */

.hitbox {
	position: absolute;
	background-color: yellow;
}

.houseHitbox1 {
	width: 100px;
	height: 85px;
	margin-top: 50px;
	margin-left: 500px;
}

.bigTreeHitboxes {
	width: 64px;
	height: 44px;
}

.bigTreeHitbox1 {
	margin-top: 360px;
	margin-left: 524px;
}

.bigTreeHitbox2 {
	margin-top: 360px;
	margin-left: 460px;
}

.bigTreeHitbox3 {
	margin-top: 140px;
	margin-left: 150px;
}

/* ----------------- */
/* Overworld Start 1 */
/* ----------------- */

#overworld_start1 {
	position: absolute;
	margin-top: -301px;
	z-index: -1;
}

.bigTree1 {
	margin-top: 324px;
	margin-left: 500px;
	position: absolute;
	z-index: 82;
}

.bigTree2 {
	margin-top: 324px;
	margin-left: 436px;
	position: absolute;
	z-index: 82;
}

.bigTree3 {
	margin-top: 104px;
	margin-left: 64px;
	position: absolute;
	z-index: 27;
}