* {
	margin: 0;
	padding: 0;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a {
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 7px 25px 10px 25px;
	background-color: blue;
	border-radius: 8px;
	color: white;
	border: none;
	cursor: pointer;
}

#backButton {
	display: none;
	float: right;
}

#controls {
	display: none;
}

#loadfile {
	display: none;
}

.player {
	margin-top: 248px;
	margin-left: 400px;
	position: absolute;
	z-index: 1;
}

#saved {
	display: none;
}

#inventoryMenu {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #8BBCD5;
	position: relative;
    left: -131px;
    width: 130px;
    height: 300px;
    transition: 0.3s;
    z-index: 1000;
}

#menuButtons {
	text-align: center;
}

.menuButton { 
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 3px;
	width: 70px;
	margin-top: 10px;
}

#quitButton {
	position: absolute;
	bottom: 10px;
	left: 30px;
}

#gameBorder {
	/*border: 2px solid black;*/
	margin: 1% 0 0 25%;
	height: 502px;
	width: 756px;
	display: none;
	overflow: hidden;
}

#menuBar {
	margin: 0 0 0 25%;
	height: 100px;
	width: 756px;
	background-color: gray;
	display: none;
	border: 1px solid black;
	border-radius: 4px;
}

/* --------- */
/* Inventory */
/* --------- */
#hp {
	margin-left: 10px;
	margin-top: 10px;
	width: 190px;
	display: inline-block;
}
#hpHeart {
	width: 15px;
	height: 15px;
}

#inventory {
	float: right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
}

td {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
}

/* ------- */
/* Textbox */
/* ------- */

#textFace {
	margin-top: 5px;
	margin-left: 5px;
}

#textFace img {
	width: 90px;
	height: 90px;
}

/* -------- */
/* Hitboxes */
/* -------- */

.hitbox {
	position: absolute;
	background-color: yellow;
}

.houseHitbox1 {
	width: 100px;
	height: 85px;
	margin-top: 50px;
	margin-left: 500px;
}

.bigTreeHitboxes {
	width: 60px;
	height: 10px;
}

.bigTreeHitbox1 {
	margin-top: 390px;
	margin-left: 524px;
}

.bigTreeHitbox2 {
	margin-top: 390px;
	margin-left: 460px;
}

.bigTreeHitbox3 {
	margin-top: 170px;
	margin-left: 90px;
}

.bigTreeHitbox4 {
	margin-top: 0px;
	margin-left: 90px;
}

.bigTreeHitbox5 {
	margin-top: 0px;
	margin-left: 210px;
}

.bigTreeHitbox6 {
	margin-top: 144px;
	margin-left: 264px;
}

/* --------- */
/* Loadboxes */
/* --------- */

.loadbox {
	position: absolute;
	background-color: green;
}

.ow2Loadbox {
	width: 50px;
	height: 10px;
	margin-left: 150px;
}

.ow1Loadbox {
	width: 50px;
	height: 10px;
	margin-left: 150px;
	margin-top: 490px;
}

/* ----------------- */
/* Overworld Start 1 */
/* ----------------- */

#owImage {
	position: absolute;

	z-index: -1;
}

.bigTree1 {
	margin-top: 324px;
	margin-left: 500px;
	position: absolute;
	z-index: 82;
}

.bigTree2 {
	margin-top: 324px;
	margin-left: 436px;
	position: absolute;
	z-index: 82;
}

.bigTree3 {
	margin-top: 104px;
	margin-left: 64px;
	position: absolute;
	z-index: 27;
}

.bigTree4 {
	margin-top: -66px;
	margin-left: 66px;
	position: absolute;
	z-index: 1;
}

.bigTree5 {
	margin-top: -66px;
	margin-left: 186px;
	position: absolute;
	z-index: 1;
}

/* ----------------- */
/* Overworld Start 2 */
/* ----------------- */

.bigTree6 {
	margin-top: 80px;
	margin-left: 240px;
	position: absolute;
	z-index: 21;
}