* {
	margin: 0;
	padding: 0;
}

.button {
	display: inline-block;
	padding: 7px 25px 10px 25px;
	background-color: blue;
	border-radius: 8px;
	color: white;
}

.player {
	margin-top: 0px;
	margin-left: 0px;
	position: absolute;
	z-index: 1;
}

.playertest2 {
	margin-top: 24px;
	margin-left: 140px;
	position: absolute;
	z-index: 6;
}

.playertest {
	margin-top: 16px;
	margin-left: 100px;
	position: absolute;
	z-index: 4;
}

#saved {
	display: none;
}

#inventoryMenu {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #8BBCD5;
	position: relative;
    left: -131px;
    width: 130px;
    height: 300px;
    transition: 0.3s;
    z-index: 10;
}

#menuButtons {
	text-align: center;
}

.menuButton { 
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 3px;
	width: 70px;
	margin-top: 10px;
}

#quitButton {
	position: absolute;
	bottom: 10px;
	left: 30px;
}

#gameBorder {
	border: 2px solid black;
	margin: 5% 0 0 20%;
	height: 502px;
	width: 756px;
	display: none;
	overflow: hidden;
}

#backgroundImages {
	position: absolute;
	margin-top: -301px;
	z-index: -1;
}